body {
margin: 0 auto;
font-family: "Helvetica", "Arial", sans-serif;
line-height: 1.5;
}

header {
background-color: #A0D4E3;
background-image: url("../images/kids.jpg");	
background-repeat: no-repeat;
background-size: cover;
padding: 2em;
text-align: center;
background-position: center;
}

.main {
	display: flex;
	width: 100%;
}

.sidebar {
	background-color: #8290BC;
	order: 1;
	flex: 1;
	padding: 1.5em;
}

.content {
	background-color: #B7C4BE;
	order: 1;
	flex: 5;
	padding: 1.5em;
}